body{
    /* background-color: #e8d5b7; */
    color: #0e2431;
}

ul{
    list-style-type: none;
    
}
li{
   
}
button{
    border: none;
}
button.addtodo-btn{
    
}

.newitem-input{
   
}
input:focus{
    outline:none;
}
input[type="checkbox"]{
   
}
.App{
    width: 50%;
    margin: auto;
    text-align: center;
}

