@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&family=Montserrat:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #121435;
}

/* body - scroll bar css */
body::-webkit-scrollbar {
  width: 0.4em;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #ffe227;
}
body::-webkit-scrollbar-thumb {
  background-color: #121435;
  height: 5px;
  border-radius: 5px;
}

ul {
  list-style-type: none;
  margin-bottom: 2rem;
  height: 50vh;
  overflow-y: auto;

/* transition: all 0.8s ease-in-out; */


}
/* ul-scroll bar css */
ul::-webkit-scrollbar {
  width: 0.3em;
}
ul::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  box-shadow: none;
}
ul::-webkit-scrollbar-thumb {
  background-color: #121435;
  height: 8px;
  border-radius: 8px;
}

/* other global elements' css */
li {
  width: 60%;
  margin: auto;
  display: grid;
  grid-template-columns: 10% 70% 10% 10%;
  align-content: end;
  height: 4rem;
  border-bottom: 2px solid #121435;
  padding: 0.5rem 0;

  /* transition: all 0.8s ease-in-out; */

}



input:focus,
button:focus {
  outline: none;
}
button {
  border: none;
}

h2.edit-title {
  margin: 1rem 0;
}
p.completed-todo {
  text-transform: capitalize;
  font-size: 1.5rem;
}
p.incomplete-todo {
  opacity: 0.5;
  text-transform: capitalize;
  font-size: 1.5rem;
}
p.todo-countdown {
  text-transform: capitalize;
  font-size: smaller;
}

/* specific buttons css */
button.newtodo-btn {
  background-color: #121435;
  width: 15rem;
  height: 15rem;
  /* margin: 1rem; */
  position: absolute;
  top: -7rem;
  left: -7rem;
  border-radius: 50%;
}
.addtodo-btn,
.edit-btn,
.trash-btn,
.goback-btn,
.editsubmit-btn,
.newtodo-btn {
  background-color: transparent;
}
.newtodo-btn i {
  font-size: 3rem;
  color: #ffe227;
  padding-left: 5rem;
  padding-top: 5rem;
}

.addtodo-btn i {
  font-size: 1.5rem;
  color: #121435;
}
.edit-btn i,
.trash-btn i {
  font-size: 1rem;
  color: #121435;
}
.goback-btn i,
.editsubmit-btn i {
  font-size: 1.2rem;
  color: #121435;
}
.addtodo-btn i:hover,
.edit-btn i:hover,
.trash-btn i:hover,
.goback-btn i:hover,
.editsubmit-btn i:hover {
  color: #ffe227;
}
.categories-btns {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 1.5rem auto;
  padding: 0.2rem 0;
  border-bottom: 3px solid #121435;
}
.active-btn,
.idle-btn {
  background-color: transparent;
  /* margin: 0 1rem; */
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #ffe227;
}
.idle-btn {
  color: #121435;
  opacity: 0.8;
}

/* specific inputs css */
.newitem-input,
.edit-input {
  border: none;
  border-bottom: 3px solid #121435;
  background-color: transparent;
  padding: 0.5rem 0.5rem 0.2rem 0.5rem;
  margin: 0.5rem 1rem;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  color: #121435;
  text-align: center;
  font-weight: 500;
  text-transform: capitalize;
}
input[type="checkbox"] {
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 17px;
  visibility: hidden;
}
input[type="checkbox"]:after {
  content: " ";
  background-color: transparent;
  display: inline-block;
  color: #121435;
  width: 1.5rem;
  height: 1.5rem;
  visibility: visible;
  border: 5px solid #121435;
  border-radius: 50%;
}
input[type="checkbox"]:checked:after {
  content: " \2714";
  background-color: #ffe227;
}

/* layout css */
.App {
  width: 50%;
  margin: auto;
  text-align: center;
}
.form,
.list {
  border: 1px solid #d1d1d1;
  border-radius: 8px;
  margin: 3rem;
  padding: 3rem 0;
  transition: all 0.8s ease-in-out;
}
.not-active-form {
  opacity: 0;
  height: 0;
  transition: all 0.8s ease-in-out;
}
.edit-template {
  margin: 2rem 0;
}

/* background css */
.circle1 {
  background: #ffe227;
  height: 4.5rem;
  width: 4.5rem;
  position: fixed;
  top: 10%;
  left: 41%;
  border-radius: 50%;
  z-index: -1;
}
.circle2 {
  background: #ffe227;
  height: 5rem;
  width: 5rem;
  position: fixed;
  top: 40%;
  right: 38%;
  border-radius: 50%;
  z-index: -1;
}

/* media query below */
@media only screen and (max-width: 920px) {
  .App {
    width: 80%;
  }
  p.completed-todo,
  p.incomplete-todo {
    font-size: 1.2rem;
    align-self: center;
  }
}

@media only screen and (max-width: 769px) {
  li {
    width: 80%;
  }
  button.newtodo-btn {
    width: 10rem;
    height: 10rem;
    top: -5rem;
    left: -5rem;
  }
  .newtodo-btn i {
    font-size: 2rem;
    padding-left: 4rem;
    padding-top: 4rem;
  }
  .circle1 {
    left: 30%;
  }
  .circle2 {
    right: 30%;
    top: 43%;
  }
}

@media only screen and (max-width: 426px) {
  .App {
    width: 90%;
    margin: auto;
  }
  li {
    width: 80%;
  }
  p.completed-todo,
  p.incomplete-todo {
    font-size: 1rem;
    align-self: center;
  }
  .form,
  .list {
    width: 90%;
    margin: 3rem auto;
    z-index: -1;
  }
  button.newtodo-btn {
    width: 8rem;
    height: 8rem;
    top: -4rem;
    left: -4rem;
  }
  .newtodo-btn i {
    font-size: 2rem;
    padding-left: 3rem;
    padding-top: 3rem;
  }
  input[type="checkbox"] {
    font-size: 1rem;
  }
  input[type="checkbox"]:after {
    width: 1rem;
    height: 1rem;
  }
  .circle1 {
    left: 20%;
  }
  .circle2 {
    right: 20%;
    top: 45%;
  }
}
